body{
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

#display{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid white;
    border-radius: 2px;
    width: 360px;
    height: 120px;
}

#calculations{
    width: 360px;
    height: 60px;
}

button{
    display: flex;
    align-items: center;
    width: 60px;
    height: 60px;
    background-color: gray;
    border: none;
    border-radius: 4px;
}button:hover{
    background-color: darkgray;
}

#percentage, #CE, #C, #clear, #divide, #multiply,
#subtract, #add{
    background-color: darkgray;
}
#percentage:hover, #CE:hover, #C:hover, #clear:hover,
#divide:hover, #multiply:hover, #subtract:hover,
#add:hover{
    background-color: gray;
}

#equals-to{
    background-color: aqua;
}#equals-to:hover{
    background-color: lightblue;
}

#buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row{
    display: flex;
    flex-direction: row;
    margin-top:1px;
    gap: 1px;
}

ul{
    list-style-type: none;
}