body{
    background-color: gainsboro;
}

button{
    display: flex;
    align-items: center;
    width: 60px;
    height: 60px;
    background-color: gray;
    border: none;
    border-radius: 4px;
}button:hover{
    background-color: darkgray;
}

#percentage, #CE, #C, #clear, #divide, #multiply,
#subtract, #add{
    background-color: darkgray;
}
#percentage:hover, #CE:hover, #C:hover, #clear:hover,
#divide:hover, #multiply:hover, #subtract:hover,
#add:hover{
    background-color: gray;
}

#equals-to{
    background-color: aqua;
}#equals-to:hover{
    background-color: lightblue;
}

#buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1px;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1px;
}

ul{
    list-style-type: none;
}